[flake8]
filename = ./app/*
max-line-length = 120

exclude =
    .git,
    __pycache__,
    *.json,
    alembic,
    old,
    build,
    dist
    .pytest_cache
    .DS_Store
    .venv

per-file-ignores =
    __init__.py: F401
